#body img, #body .video-container {
    margin: 3rem auto;
    display: block;
    text-align: center;
}
#body img[alt$="<"] {
    float: left;
}
#body img[alt$="><"] {
    float: center;
}
#body img[alt$=">"] {
    float: right;
}